.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #282c34;
    /* min-height: 100vh;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.patient-form {
    width: 400px;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

    .patient-form h1 {
        text-align: center;
        color: #2c3e50;
        margin-bottom: 20px;
    }

    .patient-form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .patient-form button {
        width: 100%;
        background-color: #0078d7;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

.navbar {
    background: linear-gradient(90deg, #0066cc, #004080);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

    .navbar .btn-warning {
        font-weight: 500;
    }


.footer {
    background: linear-gradient(135deg, #0078d7, #004080);
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

    .footer p {
        margin: 5px 0;
        font-size: 14px;
    }
html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}